@using Final_project.Authorization
@using Final_project.Models.AdminOptions
@model HomeMainModel
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Freelancer - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!--Success alert-->
    <div id="alertContainer" class="">
        @if (TempData.ContainsKey("SuccessMessage"))
        {
            <div class="alert alert-success fade-in" id="successAlert">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>


    <!--Error alert-->
    <div id="alertContainer" class="alert-container">
        @if (TempData.ContainsKey("ErrorMessage"))
        {
            <div class="alert alert-danger alert-error fade-in" id="errorAlert" style="white-space: pre-line;">@TempData["ErrorMessage"]</div>
        }
    </div>

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">IT-consulting</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        @if(User.Identity.IsAuthenticated && User.IsInRole(Roles.Admin.Name))
                        {
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#desktop">Desktop</a></li>        
                        }
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#blog">Blog</a></li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#services">Services</a></li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#projects">Projects</a></li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contacts">Contact us</a></li>
                        @if(!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded sign-in-main" href="/Account/Login">Log in</a></li>
                    }
                        else
                        {
                             @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "form-inline" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="nav-link py-3 px-0 px-lg-3 rounded sign-in-main">Logout from Admin</button>
                            }
                        }
                    
                </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="~/assets/img/avatar.png" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">IT-consulting</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">EXPANDING OPPORTUNITIES</p>
            </div>
        </header>
        <!-- Blog Section-->
    <section class="page-section portfolio" id="blog">
            <div class="container">
                <!-- Blog Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Blog</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Blog Grid Items-->
                <div class="row justify-content-center">
                @foreach (var item in Model.BlogSection)
                {
                    <div class="col-md-6 col-lg-4 mb-5">
                        <label class="mb-4">@item.Date</label>
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#@item.Id">
                            <div>
                                <a href="/BlogsInformation/Index/@item.Id" target="_blank">
                                    <img class="img-fluid img-border" src="@Url.Content(item.Photo)" alt="..." />
                                </a>
                            </div>
                            
                        </div>
                    </div>
                }
            </div>
            </div>
    </section>
    <section class="page-section bg-primary text-white mb-0" style="margin-top: 30px;" id="services">
    <div class="container">
        <!-- Services Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Services</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Services Section Content-->
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                @foreach(var item in Model.ServicesSection)
                {
                    <div class="give-info-container">
                        <button class="give-info-btn toggleButton">@item.HeaderOfService</button>
                        <div class="lead mb-0 hiddenText" style="display: none;">@item.Text</div>
                    </div>            
                }
            </div>
        </div>
    </div>
</section>
     <!-- Contact Section-->
        <section class="page-section" id="projects">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Projects</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Projects section -->
            <div class="row justify-content-center page-section bg-primary text-white mb-0">
                <!-- Project 1 -->
                @foreach(var project in Model.ProjectsSection)
                {
                    <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto project-item">
                        <a href="/ProjectsInformation/Index/@project.Id">
                            <img class="img-fluid img-border" src="@Url.Content(project.Photo)" alt="..." />
                        </a>
                    </div>
                    <div class="border-text-opacity-50">
                        <label class="projects-item-container">@project.Header</label>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
        <!-- Contact Section-->
        <section class="page-section" id="contacts">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Us</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form action="@Url.Action("SendMessage")" method="post">
                        @Html.AntiForgeryToken()

                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="FullName" placeholder="Enter your name..." />
                            <label for="name">Full name</label>
                        </div>

                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="Email" placeholder="name@example.com" />
                            <label for="email">Email address</label>
                        </div>

                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="Message" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                            <label for="message">Message</label>
                        </div>

                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            <img class="card-img-bottom" src="~/assets/img/MOSCOW-EDIT.jpg" />
                            <div class="location-bottom">Moscow</div>
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">About Company</h4>
                        <p class="lead mb-0">
                            Our company was founded in 2023. During this time, more than 100,000 people have been consulted. We continue to improve to this day.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; IT-consulting 2023</small></div>
        </div>
    </body>
</html>
